VITE_CAT_API_KEY=live_z37VpMUlyQm0LPDLxhg3vgmOwKwKpgc3VQtOEPNNahlyKP0t6sQM4zQy7ANQIbzq
VITE_DOG_API_KEY=live_QNNaNzJrKfPF4WQU5cS98fTDjc8oOPcfcoMXkfX2RvHFjxd1zDZuNlnhfBXyD7do
VITE_API_BASE_URL=https://petplatformback-duateac4dbh3bahj.canadacentral-01.azurewebsites.net
VITE_USER_API_KEY=tu_clave_api_de_usuario_si_es_necesaria